
.card-container{
    display: flex;
    max-width: 10rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: paleturquoise;
    padding: .8rem 1rem ;
    border-radius: 10%;
    margin: 1rem;
}